// Here you can add other styles
@font-face {
  font-family: Pacifico;
  src: url('/fonts/Pacifico.ttf');
}

.invalid-feedback {
  display: block;
  font-size: 0.8125rem;
}

.u-margin-bottom-small {
  margin-bottom: 2rem;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem;
}

.u-margin-bottom-big {
  margin-bottom: 8rem;
}

.pd-bt-10 {
  padding-bottom: 10%;
}
