// Here you can add other styles
@font-face {
  font-family: Pacifico;
  src: url('../public/fonts/Pacifico.ttf');
}

body {
  background-color: #fff;
}
.invalid-feedback {
  display: block;
  font-size: 14px;
}