@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.header-container {
  flex-direction: row;
  padding: 0 16px 3px 16px;
  align-items: center;
  justify-content: space-between;

  .header-wrapper {
    display: flex;
    align-items: baseline;
    justify-content: center;
    max-width: calc(100% - 180px);

    &.is-mobile {
      max-width: calc(100% - 50px);
    }

    h1 {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .buttons-wrapper {
    display: flex;
    div {
      &:hover {
        cursor: pointer;
      }
    }
  }

  .btn-no-shadow {
    &:focus {
      box-shadow: none;
    }
    min-width: 39px;
  }

  .icon-wrapper {
    font-size: 25px;
    padding: 0 10px;
  }

  .icon {
    min-width: 25px;
    text-align: center;
  }

  .activeButton {
    color: red;
  }

  .station-mute-button {
    display: none;

    @include media-breakpoint-up(sm) {
      display: block;
    }
  }
}
