.popover-container {
  .online-users-list-item {
    display: flex;
    align-items: center;
    cursor: pointer;
  }

  .online-users-image {
    width: 25px;
    height: 25px;
    border-radius: 50px;
  }

  .online-users-anonymous {
    background-color: grey;
    border-radius: 25px;
    padding: 3px 6px 6px 6px;
    height: 25px;
    &-text {
      color: white;
    }
  }

  .online-users-caption {
    padding-left: 1rem;
    color: black;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow-x: hidden;
  }

  a:hover {
    text-decoration: none;
  }
}

.online-users-container {
  cursor: pointer;
  position: relative;
  margin-left: 1.5rem;
  min-width: 90px;
}

.online-users-length {
  margin-left: 0.5rem;
}

.online-color {
  color: #51ff9a;
}

.align-text-left {
  text-align: left;
}
