.config-modal {
  height: 100%;
  .button-save {
    float: right;
  }
  .loading-icon {
    float: right;
  }
  .input-config {
    font-weight: bold;
    .description-rules {
      font-weight: normal;
    }
  }
}

.disable-outline-modal {
  .close:focus {
    outline: none;
  }
}
