.login {
  .background-image {
    background-image: linear-gradient(to right bottom, rgba(#0a373a, 0.6), rgba(#0a373a, 0.6)), url("../../../public/img/login-background.png");
  }
  .card {
    margin-top: 1.5rem;
  }
  .other-actions {
    text-align: center;
  }
}
