.user-info {
  .img-avatar {
    margin-left: 10px;
    margin-right: 10px;
  }
  & > * {
    display: inline-block;
  }
  .drop-down {
    .button-dropdown-toggle {
      padding-top: 0px;
      padding-right: 0px;
      padding-bottom: 0px;
      font-family: Roboto Slab, serif;
      color: white;
      background-color: transparent;
      border-color: transparent;
      box-shadow: none;
      &:focus {
        color: white;
        box-shadow: none;
        background-color: transparent;
        border-color: transparent;
        outline: none;
        border-color: transparent;
      }
      &:active {
        color: white;
        box-shadow: none;
        background-color: transparent;
        border-color: transparent;
        outline: none;
      }
      &:focus:active {
        box-shadow: none;
      }
      & > span {
        font-size: 1.4em;
      }
    }
    .show > .btn-secondary.dropdown-toggle {
      color: white;
      background-color: transparent;
      border-color: transparent;
      &:focus {
        box-shadow: none;
        outline: none;
        border-color: transparent;
      }
      &:active {
        box-shadow: none;
        background-color: transparent;
        border-color: transparent;
        color: white;
        outline: none;
        border-color: transparent;
      }
    }
    .drop-item {
      &:hover {
        text-decoration: none;
      }
      font-size: 1.2em;
      color: rgba(0, 0, 0, 0.87);
      & > span {
        color: rgba(0, 0, 0, 0.54);
      }
    }
  }
}
