.register {
  width: 100%;

  .card-extra-information {
    border: none;
    background-color: transparent;
  }

  .login-callout {
    text-align: center;
    padding-top: 20px;
  }

  .card-group {
    width: 100%;
  }

  .card-layout{
    height: 100%;
  }

  .card-container {
    display: flex;
    align-items: center;

    .card-container-header {
      padding-top: 0;
    }
  }
  ul {
    list-style: none;
    text-align: left;
    margin: auto;
    padding-left: 0;

    li {
      margin-top: 10px;
      font-size: 16px;
    }
    span {
      margin-left: 10px;
    }
  }

  .card-content {
    h2 {
      text-align: initial;
    }
  }
}

