@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.station-item {
  flex-direction: column;
  padding: 3px 6px;
  cursor: pointer;

  @include media-breakpoint-up(sm) {
    padding: 8px;
  }

  .sound-wave {
    position: absolute;
    top: 15px;
    right: 32px;

    span {
      width: 5px;
      bottom: 0;
      height: 5px;
      display: block;
      position: absolute;
      animation: sound-wave 1.5s infinite ease-in-out;
      background: #ffffff;
    }

    span:nth-child(2) {
      left: 6px;
      animation: sound-wave 1.5s infinite ease-in-out;
      animation-delay: 0.2s;
    }

    span:nth-child(3) {
      left: 12px;
      animation: sound-wave 1.5s infinite ease-in-out;
      animation-delay: 0.4s;
    }

    span:nth-child(4) {
      left: 18px;
      animation: sound-wave 1.5s infinite ease-in-out;
      animation-delay: 0.6s;
    }

    span:nth-child(5) {
      left: 24px;
      animation: sound-wave 1.5s infinite ease-in-out;
      animation-delay: 0.8s;
    }
  }

  @keyframes sound-wave {
    0% {
      height: 5px;
      transform: translateY(0px);
    }
    25% {
      height: 24px;
      transform: translateY(10px);
    }
    /* effect is to animate the height of each span from 5px to 30px */
    /* translateY makes Y axis move down to give the effect that it is growing from the center */
    50% {
      height: 5px;
      transform: translateY(0px);
    }
    100% {
      height: 5px;
      transform: translateY(0px);
    }
  }

  .thumbnail {
    position: relative;
    width: 100px;
    height: 100px;
    transition: all 0.3s;

    @include media-breakpoint-up(sm) {
      width: 120px;
      height: 120px;
    }

    @include media-breakpoint-up(md) {
      width: 160px;
      height: 160px;
    }

    img {
      width: 100%;
      height: 100%;
      display: block;
    }
  }

  .online-users {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 2px 12px;
    background-color: rgba(0, 0, 0, 0.56);
    color: white;
    font-size: 10px;

    i.fa-circle {
      color: #51ff9a;
    }

    @include media-breakpoint-up(sm) {
      font-size: 12px;
    }
  }

  .station-name {
    span {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
      display: block;
      width: 100px;

      @include media-breakpoint-up(sm) {
        width: 120px;
      }

      @include media-breakpoint-up(md) {
        width: 160px;
      }
    }
  }

  &:hover,
  &:active {
    .thumbnail {
      transform: scale(1.03, 1.03);
    }
  }
}
