.station-item {
  padding: 10px;
  &:hover {
    cursor: pointer;

    .station-name {
      font-size: 1.05em;
      padding-top: 2px;
      color: #d55b1c;
    }
  }

  .station-name {
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1em;
    margin: 5px;
  }

  .station-thumbnail {
    background-size: 100%;

    &:hover {
      -webkit-transform: scale(1.1); /* Safari 3-8 */
      transform: scale(1.1);
      //border: 1.5px solid #fe7a15;
      border-radius: 3px;
    }

    img {
      max-width: 100%;
    }

    .online-user {
      height: 15%;
      background-color: rgba(108, 108, 108, 0.56);
      text-align: left;
      padding-left: 5%;
      color: #ffffff;

      .fa-circle {
        color: #51ff9a;
      }
    }
  }
}
