@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.preview {
  height: 280px;

  @include media-breakpoint-down(md) {
    height: 500px;

    &__title {
      margin-top: 8px;
    }
  }

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .secondary-info {
    color: grey;
  }

  &__duration {
    margin-left: 5px;
  }

  .warning {
    color: red;
  }

  &__tooltipModify {
    margin-left: 100px;
  }

  &__input {
    margin-top: 10px;

    &:focus {
      border-color: #ffcfc4;
      box-shadow: 0 0 0 0.2rem rgba(224, 106, 78, 0.1);
    }
  }

  &__buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__button {
    background: rgb(224, 106, 78);
    border: none;

    &:hover {
      background: rgb(224, 106, 78);
      filter: opacity(0.8);
    }

    &:focus {
      box-shadow: none;
    }
  }

  .btn-primary:not(:disabled):not(.disabled):active {
    background: rgb(224, 106, 78);
    border-color: rgb(224, 106, 78);
  }
}
