@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.preview {
  height: 280px;

  @include media-breakpoint-down(md) {
    height: 500px;

    &__title {
      margin-top: 8px;
    }
  }

  //@media (max-width: 767px) {
  //  height: 500px;
  //
  //  &__title {
  //    margin-top: 8px;
  //  }
  //}

  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  &__duration {
    margin-left: 10px;
  }

  &__tooltip {
    margin-left: 10px;
    color: #c89129;
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted black;
  }

  &__tooltip .tooltiptext {
    visibility: hidden;
    opacity: 0.5;
    font-size: x-small;
    top: 120%;
    left: -10px;
    width: max-content;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 1px;
    padding: 3px;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
  }

  &__tooltip:hover .tooltiptext {
    visibility: visible;
  }

  &__input {
    margin-top: 10px;

    &:focus {
      border-color: #ffcfc4;
      box-shadow: 0 0 0 0.2rem rgba(224, 106, 78, 0.1);
    }
  }

  &__buttons {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__button {
    background: rgb(224, 106, 78);
    border: none;

    &:hover {
      background: rgb(224, 106, 78);
      filter: opacity(0.8);
    }

    &:focus {
      box-shadow: none;
    }
  }

  .btn-primary:not(:disabled):not(.disabled):active {
    background: rgb(224, 106, 78);
    border-color: rgb(224, 106, 78);
  }

  &data-placement {

  }

  &__notice {
  }
}
