.btn-no-shadow {
    &:focus {
        box-shadow: none;
    }
    min-width: 39px;
}

.input-link {
    background-color: #fff;
}

.btn-clipboard {
    margin-left: auto;
}

.action-wrapper {
    margin: 10px 0px 5px;
    display: flex;
}
