.image-uploader {
  input {
    display: none;
  }
}

.cropper-modal-container {
  margin: 50px auto;

  .cropper-img {
    width: 465px;
    height: 465px;
  }

  .cropper-modal-footer {
    button {
      width: 70px;
      border-radius: 3px;
    }

    button:first-child {
      margin-right: 10px;
    }
  }
}

