@import "scss/style";

//global variable
$height-container-lg: 300px;
$height-container-sx-md: 400px;

//mixin for reuse
@mixin header-container {
  width: 100%;
  height: $height-container-lg;
}

@mixin avatar-container {
  width: 125px;
  height: 125px;
  border-radius: 50%;
}

@mixin component-display(
  $display: null,
  $align-items: null,
  $justify-content: null
) {
  @if ($display) {
    display: $display;
  }
  @if ($align-items) {
    align-items: $align-items;
  }
  @if ($justify-content) {
    justify-content: $justify-content;
  }
}
.profile-header-container {
  @include header-container;
  @include component-display(flex, center, center);
  background: $black;
  margin: auto;
  overflow-x: hidden;
  z-index: 0;
  position: relative;
  .background-wrapper {
    @include header-container;
    position: absolute;
    img {
      @include header-container;
      object-fit: cover;
      position: absolute;
    }
    .background-cover {
      width: 100%;
      height: 100%;
      background: linear-gradient(
        to right bottom,
        rgba($black, 0.5),
        rgba($black, 0.5)
      );
      position: absolute;
    }
  }
  .user-info-container {
    @include component-display(flex, center, space-between);
    width: 1280px;
    margin: 0 auto;
    & > .row {
      width: inherit;
    }
    .user-avatar {
      @include component-display(flex, center, flex-start);
      .avatar {
        @include avatar-container;
        background: $white;
        cursor: pointer;
        &:hover .avatar-hover {
          @include component-display(flex, null, center);
          flex-direction: column;
        }
        img {
          @include avatar-container;
          border: 5px solid $white;
        }
        .avatar-hover {
          @include avatar-container;
          background: linear-gradient(
            to right bottom,
            rgba($black, 0.5),
            rgba($black, 0.5)
          );
          position: absolute;
          top: 0;
          left: 0;
          display: none;
          span {
            color: white;
            font-weight: 600;
            text-align: center;
          }
        }
      }
      .name {
        margin: 20px;
        color: white;
        display: block;
        white-space: nowrap;
        .display-name {
          margin: 0;
        }
      }
    }
    .summarize {
      height: 100%;
      @include component-display(flex, center, center);
      .summarize-item {
        @include component-display(flex, center, null);
        flex-direction: column;
        padding: 0 25px;
        .summarize-item-header {
          color: $white;
          font-weight: 500;
          font-size: 1rem;
        }
        .summarize-item-score {
          color: #e06a4e;
          font-weight: 500;
        }
      }
    }
    .update-cover {
      @include component-display(flex, center, flex-end);
      height: 100%;
      .btn-update-cover {
        border-radius: 3px;
        &:hover {
          background-color: #a4b7c1;
        }
      }
    }
  }
}
@media all and (max-width: 992px) {
  .profile-header-container {
    height: $height-container-sx-md;
    .background-wrapper {
      height: $height-container-sx-md;
      img {
        height: $height-container-sx-md;
      }
    }
    .user-info-container {
      .user-avatar,
      .update-cover {
        @include component-display(null, null, center);
      }
    }
    .summarize {
      padding: 25px 0;
    }
  }
}
