@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.tabs-container {
  display: flex;
  flex-direction: column;
  height: 100%;

  .nav-tabs {
    justify-content: space-around;

    .nav-item {
      margin: 0;
      width: 33.33333333%;
      text-align: center;
      font-size: 18px;
    }

    .nav-link {
      border: none;
    }

    .nav-link.active {
      border-bottom: 2px solid rgb(224, 106, 78);
    }
  }

  .tab-content {
    border: none;
    padding-top: 10px;
    flex: 1;
    overflow-y: auto;
  }

  .tab-pane {
    padding: 0;
    height: 100%;
    overflow-y: auto;
  }

  // Styles for item
  .item-container {
    padding: 8px;
    min-height: 90px;

    .thumbnail-container {
      position: relative;
    }

    .duration {
      background: rgba(0, 0, 0, 0.8);
      color: white;
      position: absolute;
      bottom: 0;
      right: 0;
      padding: 2px 4px;
      font-size: 12px;
    }

    .video-img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .item-title {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }

    .creator-container {
      position: relative;
    }

    .action-icon {
      font-size: 16px;
      text-align: center;

      &:hover {
        cursor: pointer;
      }
    }

    .avatar {
      width: 1.6em;
      height: 1.6em;
      cursor: pointer;
      object-fit: cover;
      margin-left: 8px;
      border-radius: 50%;
    }

    .item-addedBy {
      display: flex;
      align-items: flex-end;

      .title {
        color: #7f8c8d;
      }
    }
  }

  .playlist-none {
    display: flex;
    height: 100%;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .fa {
      font-size: 56px;
    }
  }
}
