.profile-tab-content {
  .title-header {
    margin: 0;
    padding-top: 20px;
    display: block;
    color: rgba(0, 0, 0, 0.87);
    font-size: 1.3125rem;
    font-weight: 500;
    font-family: 'Roboto Slab', sans-serif;
    line-height: 1.16667em;
  }

  .pd-left-15 {
    padding-left: 15px;
  }
}
