@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.station-chat-container {
  position: fixed;
  bottom: 16px;
  right: 16px;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @media (min-width: 1700px) {
    max-width: 875px;
  }

  @media (max-width: 600px) {
    min-width: 250px;
  }

  @include media-breakpoint-up(lg) {
    max-width: 350px;
  }

  .chat-box-button {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: lightgrey;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    .fa {
      font-size: 1.5rem;
    }
  }

  .chat-box-button-custom {
    background: rgba(224, 106, 78, 0.8);
    color: white;
    animation: bounceButton 0.5s;
    animation-direction: alternate;
    animation-timing-function: cubic-bezier(0.5, 0.05, 1, 0.5);
    animation-iteration-count: infinite;
  }

  .chat-box {
    margin-bottom: -16px;
    width: 100%;
    height: 100%;
  }

  @keyframes bounceButton {
    from {
      transform: translate3d(0, -20px, 0);
    }
    to {
      transform: translate3d(0, 0, 0);
    }
  }

  .chat-container {
    width: 100%;
    height: 100%;
    background: #f9f4ef;
    display: flex;
    flex-direction: column;

    .chat-toolbar {
      background: #ede4bb;
      cursor: pointer;

      .close-button {
        padding: 8px 16px;
        cursor: pointer;
      }
    }

    .messages-container {
      padding: 10px 10px;
      flex: 1;
      overflow-y: auto;
    }

    .message-input {
      width: 100%;
      padding: 16px;
      display: flex;
      justify-content: center;
      background: #fcf9f7;

      .type-message {
        width: 100%;
        height: 30px;
        font-size: 15px;
        border: 0;
        outline: 0;
        resize: none;
        overflow-y: auto;
        background: transparent;
        border-bottom: 1px solid black;

        &::-webkit-input-placeholder {
          font-size: 15px;
          opacity: 0.5;
        }
      }

      .btn-send-message {
        border: none;
        background: none;
        &:focus {
          outline: 0;
        }
      }

      .fa-paper-plane {
        font-size: 1.5em;
        padding: 10px 10px;
      }
    }
  }
}

.chat-box-dimension {
  min-height: 400px;
  height: calc(100vh / 2);
}
