.chat-container {
  width: 100%;
  height: 100%;
  background: #f9f4ef;

  .chat-toolbar {
    background: #ede4bb;

    .close-button {
      padding: 8px 16px;
      cursor: pointer;
    }
  }

  .messages-container {
    padding: 10px 10px;
    height: calc(100% - 99px);
    overflow-y: auto;
  }

  .message-input {
    width: 100%;
    padding: 8px 16px;
    display: flex;
    justify-content: center;
    background: #fcf9f7;

    .type-message {
      width: 100%;
      height: 30px;
      font-size: 15px;
      border: 0;
      outline: 0;
      resize: none;
      overflow: hidden;
      background: transparent;
      border-bottom: 1px solid black;

      &::-webkit-input-placeholder {
        font-size: 15px;
        opacity: 0.5;
      }
    }

    .btn-send-message {
      border: none;
      background: none;
      &:focus {
        outline: 0;
      }
    }

    .fa-paper-plane {
      font-size: 1.5em;
      padding: 10px 10px;
    }
  }
}
