.forgot-password {
  height: 100%;
  width: 100%;
  display: flex;

  .background-image {
    background-image: linear-gradient(
        to right bottom,
        rgba(#0a373a, 0.6),
        rgba(#0a373a, 0.6)
      ),
      url('../../../public/img/forgot-password-background.jpg');
  }

  .card {
    margin-top: 1.5rem;
  }

  &__loading-container {
    display: flex;
    justify-content: center;
  }
}
