.forgot-password {

  .background-image {
    object-fit: none !important;
  }

  .fake-background {
    background: rgba(41, 103, 132, 0.25);
  }

  &__loading-container {
    display: flex;
    justify-content: center;
  }
}
