@import '~bootstrap/scss/functions';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

// Custom Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Custom Media Queries
$mq-small: "(min-width: #{$bp-small})";
$mq-medium: "(min-width: #{$bp-medium})";
$mq-large: "(min-width: #{$bp-large})";
$mq-xlarge: "(min-width: #{$bp-xlarge})";
$mq-xxlarge: "(min-width: #{$bp-xxlarge})";

.station-container {
  background: white;

  @media #{$mq-xlarge} {
    .extra-large-container {
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
    }
  }

  .station-browser-container {
    background: #e8e0d5;
  }

  .player-container {
    display: flex;
    flex-direction: column;

    @include media-breakpoint-down(lg){
      min-height: 30vh;
    }

    .progress {
      height: 0.2rem;
    }

    .progress-bar {
      background: rgb(224, 106, 78) !important;
    }
  }

  .playlist-tabs-container {
    height: 100%;
  }

  .u-margin-top-medium {
    margin-top: 100px;
  }

  .add-song-container {
    margin-top: 20px;
  }
}
