.app.no-side-bar {
  .main, .app-footer {
    margin-left: 0;
  }
}

.app.login, .app.register, .app.forgot-password {
  //min-height: calc(100vh - 105px);

  .background-image {
    width: 100%;
    height: 100vh;
    object-fit: cover;
  }

  .fake-background {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
  }

  .main-form-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    padding-bottom: 20px;
  }

  .main-form-layout{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
