.player {
  flex: 1;
  background: #fafafa;

  &.player-none {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;

    .fa {
      font-size: 56px;
    }
  }
}

.player-container {
  .progress {
    height: 4px;
  }

  .progress-bar {
    background: #d86b52;
  }

  .progress-buffer {
    background: #f3d2cb;
  }
}
