.player-container {
  position: relative;

  .player-message {
    width: 100%;
    position: absolute;
    padding: 8px;
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 1.46429em;
    font-family: 'Roboto Slab', sans-serif;
    color: white;
    background: rgba(0, 0, 0, 0.54)
  }
}
