@import 'scss/style';

$font-title: 'Pacifico', sans-serif;
$font-size-default: 1.25rem;
$font-size-medium: 2.25rem;
$color-tertiary: color('quaternary');
$color-primary: color('primary');

.section-feature {
  &-create {
    padding: 5% 0 5%;
  }
  &-share {
    padding: 10% 0 15%;
  }
  &-search {
    padding: 10% 0 10%;
  }
  &--tertinary {
    background-color: $color-tertiary;
  }
  &--white {
    background-color: $white;
  }
}

.btn-text {
  &:link,
  &:visited {
    font-size: $font-size-default;
    color: $color-primary;
    display: inline-block;
    text-decoration: none;
    padding: 2px;
    transition: all 0.2s;
  }
  &:hover,
  &:active {
    text-decoration: underline;
  }
}

.heading-tertiary {
  font-size: $font-size-medium;
  font-family: $font-title;
  font-weight: 700;
}

.paragraph {
  font-size: $font-size-default;
  &:not(:last-child) {
    margin-bottom: 3rem;
  }
}

.describe-create {
  padding: 30% 0 0 0;
}

.composition {
  margin-top: -4rem;
  position: relative;
  &-create {
    position: relative;
    padding-bottom: 100%;
  }
  &-search {
    position: relative;
    padding-bottom: 50%;
  }
  &-share {
    position: relative;
    padding-bottom: 50%;
    top: -10%;
  }
  &__photo {
    width: 35%;
    box-shadow: 0 1.5rem 4rem rgba($black, 0.4);
    border-radius: 2px;
    position: absolute;
    z-index: 10;
    transition: all 0.2s;
    outline-offset: 0.5rem;
    &--p1 {
      width: 40%;
      left: 20%;
      top: 5%;
      z-index: 30;
    }
    &--p2 {
      width: 30%;
      top: 45%;
      left: 45%;
      z-index: 10;
    }
    &--p3 {
      width: 23%;
      left: 66%;
      top: 25%;
      z-index: 20;
    }
    &--p4 {
      width: 90%;
      right: 5%;
      top: 10%;
    }
    &--p5 {
      width: 90%;
      right: 5%;
    }
    &:hover {
      transform: scale(1.2);
      box-shadow: 0 2.5rem 4rem rgba($black, 0.5);
      z-index: 20;
    }
  }
  &:hover,
  &__photo:not(:hover) {
    transform: scale(0.95);
  }
}
