.form-wrapper {
  .input-wrapper {
    display: flex;
    position: relative;

    .button-submit {
      position: absolute;
      right: 0;
      top: 0;

      margin-left: -7px;
      border-radius: 0 4px 4px 0;
      width: 3rem;
      height: 100%;
      z-index: 5;
    }

    &:focus {
      outline: none;
    }
  }

  .text-error {
    text-align: left;
    position: absolute;
    margin-top: 0;
  }
}

// toggle switcher
$color_checkbox_success: #4cd964;
$color_checkbox_default: #8e8e93;
$transition: 0.3s cubic-bezier(0.95, 0.05, 0.795, 0.035);
$width: 4em;
$height: $width/2;

.toggle-display {
  float: left;
  margin-left: 1.5rem;
}

.toggle {
  transform: translate(-50%, 50%);
  .toggle-control {
    transition: $transition;
    width: $width;
    height: $height;
    display: block;
    border: 2px solid $color_checkbox_default;
    border-radius: $height;
    background-color: rgba(black, 0.06);
    position: relative;
    &:after {
      transition: $transition;
      content: '';
      width: $width/2;
      height: $height;
      display: block;
      background-color: #fff;
      border-radius: 50%;
      box-shadow: 0 1px 2px rgba(black, 0.4), 0 3px 2px rgba(black, 0.4);
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  input {
    display: none;
    &:checked + .toggle-control {
      border-color: $color_checkbox_success;
      background-color: $color_checkbox_success;
      &:after {
        left: $width/2;
      }
    }
  }
}

.station-privacy {
  color: #fff;
}
