$suggestion_height: 48px;

.search-input {
  position: relative;
}

.react-autosuggest {
  &__suggestions-container {
  }
  &__suggestions-list {
    list-style: none;
    padding: 0;
  }
  &__suggestion {
    display: flex;
    align-items: center;
    height: $suggestion_height;
    overflow: hidden;
    white-space: nowrap;
    padding: 0 16px;
    img {
      height: calc(#{$suggestion_height}/ 2);
      margin-right: 8px;
    }

    &--highlighted {
      background-color: rgba(0, 0, 0, 0.07);
    }
  }
}

$input_height: 35px;
$icon_height: 14px;

.reset-icon {
  position: absolute;
  right: 1px;
  top: 1px;
  padding: ($input_height - $icon_height)/2 - 1px;
  background: #fff;
  color: rgba(0, 0, 0, 0.54);
}
