.app-footer {
  background-color: #e06a4e;
  color: white;
  font-size: 1.3em;
  display: block;
  margin-left: 0;
  border: none;
  & a {
    color: white;
    text-decoration: none;
  }
  & span {
    margin-top: 10px;
  }
}
