.reset-password {
  &__background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background-image: linear-gradient(to right bottom, rgba(#0a373a, 0.6), rgba(#0a373a, 0.6)), url("../../../public/img/reset-password-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
  }
}