.reset-password {
  &__background-image {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
    background: linear-gradient(
        to right bottom,
        rgba(#0a373a, 0.6),
        rgba(#0a373a, 0.6)
      ),
      url('/img/reset-password-background.jpg') no-repeat;
    background-size: cover;
  }
}
