.app-header {
  background-color: #e06a4e;
  color: white;
  height: 55px;
  transition: all 0.3s;

  .container {
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .logo {
    height: 100%;
    img {
      height: 100%;
    }
    a {
      text-decoration: none;
      color: inherit;
      margin: auto;
    }
  }
  .header-right {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    & > * {
      display: inline-block;
    }
    .reputation {
      font-family: Roboto Slab, serif;
    }
    .login-register-button {
      color: white;
      text-decoration: none;
      margin-left: 16px;
    }
  }
}
